*{
    margin: 0px;
    padding: 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{

    background-image: url(/2ndLabExam/bg_image.jpg);
    background-size: cover;
}

section{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    position: absolute;

    background-color: #c0c3c7;
    border-radius: 15px;
    
    padding: 25px;

    width: 390px;

}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
}

h1{
    text-align: center;
}

p{
    text-align: center;
}

.userfill{
    align-items: center;
    display: flex;
}

.input{
    position: relative;
}
input[type = submit]{
    height: 1.3rem;
    border: 1px solid #878889;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0px transparent;
    padding: 1px 45px;
    background-color: #acb7c3;
}

input[type = text]{
    width: 100%;
    height: 1.46rem;
    border: 0.5px solid #878889;
    border-right: 0px transparent;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

input[type = submit]{
    height: 1.52rem;
    border: 0.5px solid #878889;
    
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-left: 0px transparent;
    padding: 1px 45px;
    background-color: #acb7c3;
}
